extends layout

block content
	table.data
		thead
			tr
				td Name
		tbody(data-bind="foreach: { data: clients, afterAdd: function(element) { $(element).hide().show('highlight') } }")
				tr
					td
						a(data-bind="attr: { href: 'clients/' + id }, text: name")

	button(data-bind="click: newClient, disable: clientDialogOpen") Create new client
	div(data-bind="dialog: { title: 'Add Client', isOpen: clientDialogOpen }")
		div(data-bind="with: currentClient")
			input(data-bind="value: name")
			button(data-bind="click: $parent.saveClient") Save

	script
		:coffeescript
			class ClientModel

				name: ko.observable('')

				constructor: (data) ->
					ko.mapping.fromJS data || {}, {
						include: [
							'name'
						]
					}, this

			class ViewModel
				currentClient: ko.observable(null)
				clientDialogOpen: ko.observable(false)
				clients: ko.observableArray()

				newClient: () ->
					@currentClient(new ClientModel())
					@clientDialogOpen(true)

				clientAdded: (element, index, data) ->
					console.log element
					$(element).show('highlight')

				constructor: (data) ->
					ko.mapping.fromJS data || {}, {
					}, this

				saveClient: () =>
					$.ajax '/clients', 
							type: 'POST'
							data: ko.mapping.toJS @currentClient
						.done (data) =>
							@clientDialogOpen(false)
							@clients.push(data)

					return

			$ ->
				viewModel = window.viewModel = new ViewModel()
				
				$.getJSON()
					.done (data) ->
						viewModel.clients(data)
						# do this las, bug
						ko.applyBindings viewModel

				
				

				

