extends layout

block content
	div#datepicker

	a(href='clients/create') Create

	pre= JSON.stringify(clients, '\t', 2)

	table.data
		thead
			tr
				td Name
		tbody
			each client in clients
				tr
					td
						a(href='clients/' + client.id)= client.name

	button(data-bind="click: newClient, disable: clientDialogOpen") Create new client
	div(data-bind="dialog: { isOpen: clientDialogOpen }")
		div(data-bind="with: currentClient")
			input(data-bind="value: name")
			button(data-bind="click: $parent.saveClient") Save


	script(type="text/html", id="edit-client-template")
		div


	script
		:coffeescript
			class ClientModel
				name: ko.observable('')

				contructor: (data) ->
					ko.mapping.fromJS data || {}, {
						include: [
							'name'
						]
					}, this



			class ViewModel
				currentClient: ko.observable(null)
				clientDialogOpen: ko.observable(false)

				newClient: () ->
					@currentClient(new ClientModel())
					@clientDialogOpen(true)

				constructor: () ->


				saveClient: () =>
					console.log this
					$.ajax '/clients', 
							type: 'POST'
							data: ko.mapping.toJS @currentClient
						.done =>
							@clientDialogOpen(false)
					return

			$ ->
				ko.applyBindings new ViewModel()

				$('#datepicker')
					.datepicker()

