doctype html
html
	head
		title Title!
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.min.js")
		script(src="scripts/jquery-ui-1.10.4.custom.min.js")
		script(src="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js")
		script(src="scripts/knockout-jqueryui.min.js")

		link(rel='stylesheet', href='/main.css')
		link(rel='stylesheet', href='/themes/ui-darkness/jquery-ui-1.10.4.custom.css')
			
	body
		h1 the Application

		block content